@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h4>Privacy Policy - Website Terms & Conditions</h4>
    <h6>
        Leon's values and respects the privacy our customers and our visitors. This Privacy Policy describes Leon's privacy practices and those of its subsidiaries and related brands. This Privacy Policy applies to our interactions with our customers and visitors including:

        Visits, access and use of Leon's websites;
    </h6>
    Visits to our stores or attendance at our events;
    Use of our applications for mobile phones, tablets or other smart devices;
    Communications by phone, email, texts, online chat or other electronic means;
    Creation and registration of an account with Leon's;
    Social media interactions on Leon's websites and on other third-party websites like Facebook, YouTube, Pinterest, Google+, Instagram and Twitter;
    View or acquire Leon's Products and Services including our online advertisements; and
    Interactions with our third-party service providers.

    What information does Leon's collect?

    Leon's collects and uses your personal information in order to provide you with the products you purchase from us, to collect payment from you, to effect delivery or pick-up of the products (if applicable), to issue and administer gift and promotional cards, and in order to provide follow-up customer service and, warranty service, financing, or credit insurance on those products (if applicable). We also collect this information to process and track returns and credits and to help detect and prevent fraud and otherwise administer our loss prevention program.

    When you make a purchase from Leon's, we will ask you for your name, home address and phone number. For any online transaction we will also collect your email address. Although you are not required in every circumstance to give us this information to complete your purchase, should you choose not to provide it to us we will be impeded in assisting you if you have problems or concerns with your purchase in the future, particularly if you do not retain your sales invoice.

    If you make a purchase using a Credit Card, we collect your name, billing address for the card, type of card, card number and card expiration date. We require this information in order to process your purchase.

    If you are applying for a Credit Card, in addition to your name, address and phone number, and your email address if you provide it to us, we, on our own behalf and as agent for Flexiti or to such other financing provider we may refer you, collect additional personal information and/or financial information as required on the application form in order to process your application and for the purposes set out in this policy, the Credit Card application, the cardholder agreement for the Credit Card. Please refer to Flexiti's Privacy Policy found at www.flexiti.com/EN/Privacy.

    If we are delivering your purchase to you, we require your name, address for delivery and phone number. If you will be picking up your purchase at a later time, we require your name and other identifying personal information in order to verify your identity as the purchaser at the time of pick-up.

    When at all possible, we collect your personal information directly from you. If you are applying for a Credit Card, we and/or Flexiti and its affiliates may collect additional personal information and/or financial information from third parties such as a credit bureau.

    If you register in one of our programs or enter a contest or promotion, we collect your personal information to administer your participation in the program, contest or promotion. We also may collect information including photos, videos and other content if you choose to upload the information or post a review, which may be viewed by others. We also may use this information to inform you about products, promotions and services that we think may interest you unless you advise us that you do not wish to receive such information.

    In order to improve your customer experience, we use third-party analytics services to assist us in analyzing trends in our products and services. In using these analytics services, we generate and process aggregated information that does not review your identity. If we combine or connect aggregated information to your Personal Information, which may allow us to directly or indirectly identify you, we will treat this information as Personal Information and will be administered in accordance with this Privacy Policy.

    We disclose your personal information to our suppliers to provide warranty, financing, credit and other services on the products you purchase. When we offer special promotions by which you receive one or more free goods or services directly from one of our suppliers, we disclose your personal information to those suppliers for them to contact you to arrange for provision of their goods and/or services and for follow-up service.

    If you are applying for or financing your purchase using a Flexiti Credit Card, issued by Flexiti Financial Inc. (“Flexiti”), we collect, use and disclose your information including personal information and/or financial information, on our own behalf and as agent for Flexiti and their affiliates for the purposes set out in this Policy, the Credit Card application, the cardholder agreement for the Credit Card and Flexiti's Privacy Agreement found at www.flexiti.com/EN/Privacy. Leon's may be providing Customer Service on the Credit Card Accounts for Flexiti and Leon's may share your information including personal, financial and/or transaction information with each other and with their affiliates or others for that purpose and as described in this Policy.

    We may offer additional financing programs through Leon's or other third-party financing providers from time to time. If you choose one of these financing programs, we will collect, use and disclose your information including personal information and/or financial information on our own behalf and as agent for the financing provider and may share your information including personal and transaction information with the financing provider.

    If you make a claim pursuant to your credit insurance purchased through either Trans Global Life Insurance Company or Trans Global Insurance Company, we will collect and use your health information to process your claim.

    We collect, use and disclose as little of your personal information as we can while still ensuring that we can fulfill our identified purposes. We never sell or trade your personal information to any person or organization outside of Leon's.

    We may also capture your image with closed circuit cameras when you visit our stores to prevent and detect fraud and otherwise as part of our loss prevention program. We may require you to authenticate your identity for verification purposes.

    We may get information about you from third-party business partners such as updated shipping information. We may also collect information about you from a friend or relative. If you refer someone to us, please ensure that you only submit contact information of individuals with whom you have a close personal or family relationship who would be interested in receiving communications from us or who have authorized you to share their contact information.

    We otherwise collect, use and disclose your personal information as permitted and/or required by law..
</p>
